.wrapper {
  padding-top: 50px;
  background: #55c53d url("/portalBackground.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
