.alert {
  text-align: center;
  font-size: 50px;
  height: 166px;
  width: 1479px;
  line-height: 120px;
  font-weight: bold;
  margin-top: 18px;
  position:absolute;
  top: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s linear;
}

.hidden {
  opacity: 0;
  transition: opacity 1s linear;
}